@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #ad7c33 , #5288bd 100%);
}

main {
    height: 300px;
    width: 650px;
}

article#img {
    position: absolute;
    width: 280px;
    height: 300px;
    background-position: left center;
    background-size: auto;
    border-radius: 15px 0px 0px 15px;
}

div {
    position: absolute;
    left: 50%;
    width: 300px;
}

article#txt {
    font-size: 1em;
    padding: 0px;
    padding-bottom: 15px;
}

form input {
    width: 300px;
    height: 32px;
}

form p.info {
    padding-right: 0px;
}

p.info input {
    width: 250px;
}

i#imail {
    left: 240px;
    top: 6px;
}